<div class="mainbloc container-fluid">
    <div class="presentation bloc col-xs-12 col-md-12">


        <div class="title col-md-12 col-xs-12">
                <button class="icone btn btn-primary btn-lg col-md-12">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                <p class=" title col-md-12 col-xs-12"> Who am I ? </p>
            <img class="android col-md-12 col-xs-12" src="../public/img/androidify.png">

        </div>
        <div class="content col-xs-12 col-md-12">
            <p class="intro-title col-md-5"> Bonjour !</p>
            <p class="intro col-md-12">I'm an engineering student at EPSI, in Lille, and I'm passionate in football, cinema and high tech.
            I'm from Bretagne, and i've decided to move to Lille to conquer the North of France</p>
        </div>

    </div>
    <?php include "timeline.html"; ?>
    <?php include "work_experiences.html"; ?>
    <?php include "skills.html"; ?>
</div>

I'm an engineering student at EPSI school, a computing school located in Lille, France. I'm passionated in
computing, of course, but also in Football, Cinema and High Tech.
I am searching for a company where i could work as a web developer, especially in Magento and Symfony technologies.
But Angular/NodeJS and Android dev are also technologies that I would like to practice, and I already learn a bit