<div class="mainbloc container-fluid">
    <div class="presentation bloc col-xs-12 col-md-12">


        <div class="title col-md-12 col-xs-12">
                <button class="icone btn btn-primary btn-lg col-md-12">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                <p class=" title col-md-12 col-xs-12"> Who am I ? </p>
        </div>
        <img class="android col-md-12 col-xs-12" src="../public/img/androidify.png">

        <div class="content col-xs-12 col-md-12">
            <p class="intro-title col-md-5"> Bonjour !</p>
            <p class="intro col-md-12">I'm an engineering student at EPSI school, a computing school located in Lille, France.
                I am searching for a company where i could work as a web developer, especially in Magento and Symfony technologies.
                But I also would love to work with Angular/NodeJS, or make some Android dev, because these are wonderful technologies, from what I could have seen during practicing.
                I'm passionated in computing, of course, but also in Football, Cinema and High Tech.

                If you want to know a bit more about me, let's continue the visit. En Avant, Guingamp !</p>
        </div>

    </div>
    <?php include "timeline.html"; ?>
    <?php include "work_experiences.html"; ?>
    <?php include "skills.html"; ?>
</div>




<!--"If you are looking for ransom, I can tell you I don't have money. But what I do have are a very particular set of skills,
skills I have acquired over a very long career. Skills that make me a nightmare for people like you. "
Bryan Mills/Liam Neeson in Taken (2008)*/

/*Have you tried to put in off and on again ?*/

“Great men are not born great, they grow great.” – Mario Puzo, from The Godfather

“Dark times lie ahead of us, and there will be a time when we must choose between what is easy and what is right.” Dumbledore
-->