<div class="presentation bloc col-xs-12 col-md-12">

    <div class="icon"></div>
    <div class="title col-md-6 col-xs-6">
            <button class="icone btn btn-primary btn-lg col-md-12">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <p class=" title col-md-12 col-xs-12"> Parlons de moi </p>
    </div>
    <div class="content col-xs-12 col-md-12">
        <p class="intro-title col-md-5"> Bonjour !</p>
        <p class="intro col-md-12">Je suis un étudiant en informatique actuellement en 4ème année d'ingénierie. Je viens de Bretagne que j'ai décidé de quitter pour mes études, afin d'aller conquérir le Nord de la France. Et ça, c'est mon CV.</p>
    </div>
</div>
<div class="skills bloc col-xs-12 col-md-12">
    <div class="title col-md-6 col-xs-6">
        <button class="icone btn btn-danger btn-lg col-md-12">
            <span class="glyphicon glyphicon-wrench"></span>
        </button>
        <p class=" title col-md-12 col-xs-12"> Mes Compétences </p>
    </div>
    <div class="content col-xs-12 col-md-12">

        <section class="container">

            <h3>I'm a web developer and here's what I can do</h3>

            <!-- HTML Chart -->
            <figure class="chart" data-percent="75">
                <figcaption>HTML</figcaption>
                <img class="html" src="https://dl.dropboxusercontent.com/s/68gv23q4y5qyq52/html5.svg">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
            </figure>

            <!-- CSS Chart -->
            <figure class="chart" data-percent="75">
                <figcaption>CSS</figcaption>
                <img class="css" src="public/img/charts/css.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
            </figure>

            <!-- Javascript Chart -->
            <figure class="chart" data-percent="50">
                <figcaption>Js</figcaption>
                <img class="js" src="public/img/charts/js.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
            </figure>

            <!-- PHP Chart -->
            <figure class="chart" data-percent="50">
                <figcaption>PHP</figcaption>
                <img class="php" src="public/img/charts/php.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
            </figure>

            <!-- Magento Chart -->
            <figure class="chart" data-percent="25">
                <figcaption>Magento</figcaption>
                <img class="magento" src="public/img/charts/magento.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
            </figure>

            <!-- Symfony Chart -->
            <figure class="chart" data-percent="75">
                <figcaption>Symfony</figcaption>
                <img class="symfony" src="public/img/charts/symfony.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
            </figure>

            <!-- MySQL Chart -->
            <figure class="chart" data-percent="25">
                <figcaption>MySQL</figcaption>
                <img class="mysql" src="public/img/charts/mysql.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
            </figure>


            <!-- Node.js Chart -->
            <figure class="chart" data-percent="25">
                <figcaption>AngularJS</figcaption>
                <img class="angular" src="public/img/charts/angular.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
            </figure>


        </section>

    </div>
</div>
