<div class="skills bloc col-xs-12 col-md-12">
    <div class="title col-md-12 col-xs-12">
        <button class="icone btn btn-danger btn-lg col-md-12">
            <span class="glyphicon glyphicon-wrench"></span>
        </button>
        <p class=" title col-md-12 col-xs-12"> Mes Compétences </p>
    </div>
    <div class="content col-xs-12 col-md-12">

        <section class="container .con">

            <h3>I'm a web developer and here's what I can do</h3>

            <!-- HTML Chart -->
            <figure class="chart" data-percent="90">
                <figcaption>HTML</figcaption>
                <img class="html" src="https://dl.dropboxusercontent.com/s/68gv23q4y5qyq52/html5.svg">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
                <p>HTML 5</p>
            </figure>

            <!-- CSS Chart -->
            <figure class="chart" data-percent="75">
                <figcaption>CSS</figcaption>
                <img class="css" src="../public/img/charts/css.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
                <p>CSS 3</p>
            </figure>

            <!-- Javascript Chart -->
            <figure class="chart" data-percent="35">
                <figcaption>Js</figcaption>
                <img class="js" src="../public/img/charts/js.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
                <p>JS / JQuery / AJAX</p>
            </figure>

            <!-- PHP Chart -->
            <figure class="chart" data-percent="85">
                <figcaption>PHP</figcaption>
                <img class="php" src="../public/img/charts/php.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
                <p>PHP 5 Objet</p>
            </figure>


            <!-- Symfony Chart -->
            <figure class="chart" data-percent="50">
                <figcaption>Symfony</figcaption>
                <img class="symfony" src="../public/img/charts/symfony.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
                <p>Symfony 2</p>
            </figure>

            <!-- Angularjs Chart -->
            <figure class="chart" data-percent="5">
                <figcaption>AngularJS</figcaption>
                <img class="angular" src="../public/img/charts/angular.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
                <p>AngularJS</p>
            </figure>

            <!-- MySQL Chart -->
            <figure class="chart" data-percent="90">
                <figcaption>MySQL</figcaption>
                <img class="mysql" src="../public/img/charts/mysql.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
                <p>MySQL</p>
            </figure>


            <!-- Magento Chart -->
            <figure class="chart" data-percent="60">
                <figcaption>Magento</figcaption>
                <img class="magento" src="../public/img/charts/magento.png">
                <svg width="200" height="200">
                    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                </svg>
                <p>Magento / Zend</p>
            </figure>

        </section>

    </div>
</div>