<div class="personal_projects bloc col-xs-12 col-md-12">

    <div class="title col-md-12 col-xs-6">
        <button class="icone btn btn-primary btn-lg col-md-12">
            <span class="glyphicon glyphicon-user"></span>
        </button>
        <p class=" title col-md-12 col-xs-12"> My Work Experiences </p>


        <div class="grid">

            <figure class="effect-layla">
                <img src="public/img/work_experiences/cgi.png" />
                <figcaption>
                    <h2>CGI</h2>
                    <p>Analyste / Développeur Magento & Symfony 2</p>
                    <p>Analyste / Développeur Magento & Symfony 2</p>

                </figcaption>
            </figure>
            <figure class="effect-layla">
                <img src="public/img/work_experiences/dps&co.png" />
                <figcaption>
                    <h2>DPS&Co</h2>
                    <p>When Layla appears, she brings an eternal summer along.</p>
                </figcaption>
            </figure>

            <figure class="effect-layla">
                <img src="public/img/work_experiences/groupe_cerise.png" />
                <figcaption>
                    <h2>Cerise Media</h2>
                    <p>When Layla appears, she brings an eternal summer along.</p>
                </figcaption>
            </figure>

            <figure class="effect-layla">
                <img src="public/img/work_experiences/topoffice.png" />
                <figcaption>
                    <h2>Voxygens</h2>
                    <p>When Layla appears, she brings an eternal summer along.</p>
                </figcaption>
            </figure>
        </div>
    <!-- Ajouter la page d'acceuil Hangout like -->
    </div>

</div>