<div class="work-experiences bloc col-xs-12 col-md-12">

    <div class="title col-md-12 col-xs-12">
        <button class="icone btn btn-primary btn-lg col-md-12">
            <span class="glyphicon glyphicon-briefcase"></span>
        </button>
        <p class="title col-md-12 col-xs-12"> My Work Experiences </p>


        <div class="grid">
            <figure class="effect-layla impair">
                <img src="../public/img/work_experiences/cgi.png" />
                <figcaption>
                    <h2>CGI</h2>
                    <p>Analyste / Développeur Magento & Symfony 2</p>
                </figcaption>
            </figure>
            <figure class="effect-layla">
                <img src="../public/img/work_experiences/dps&co.png" />
                <figcaption>
                    <h2>DPS&Co</h2>
                    <p>First experience as a project manager / Creation of the project documentation</p>
                </figcaption>
            </figure>

            <figure class="effect-layla impair">
                <img src="../public/img/work_experiences/groupe_cerise.png" />
                <figcaption>
                    <h2>Cerise  Media</h2>
                    <p>PHP developer : I've used a PHP template Engine (Smarty) and AJAX</p>
                </figcaption>
            </figure>

            <figure class="effect-layla">
                <img src="../public/img/work_experiences/voxygen.png" />
                <figcaption>
                    <h2>Voxygens</h2>
                    <p>Development of a voice search app into Amazon's cloud.</p>
                </figcaption>
            </figure>
        </div>
    <!-- Ajouter la page d'acceuil Hangout like -->
    </div>

</div>