/* ------------------------------------------ SKILLS -------------------------- */

.skills{
    color : #34495e;
    background-color : white;
}
.skills p{
    color : black;
}

.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px;
    text-align: center;
    margin : 25px;
}



.chart figcaption {
    padding: 50px 25px;
    width: 194px;
    height: 188px;
    border: 20px solid #f0f0f0;
    border-radius: 112px;
    line-height: 50px;
}

.chart img {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    background: white;
}

.chart p{
    font-size : 25px;
    margin-top : 10px;
}
.chart .drupal, .chart .php, .chart .symfony, .chart .mysql, .chart .html, .chart .laravel, .chart .wordpress, .chart .angular{
    position: absolute;
    max-height: 108px;
    top: 42px;
    left: 45px;
    background: white;
}

.chart .laravel{
    top: 65px;
}

.chart .html{
    top: 61px;
    left: 51px;
}

.chart .wordpress{
    top: 47px;
    left : 46px;
}

.chart .angular{
    left : 46px;

}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
    top: 55px;
    left: 47px;
}

.html + svg .outer {
    stroke: #ffd733;
}

.laravel {
    top: 55px;
    left: 48px;
}

.laravel + svg .outer {
    stroke: #fb503b;
}

.wordpress {
    max-height: 90px;
  top: 43px;
  left: 41px;
}

.wordpress + svg .outer {
    stroke: #464646;
}

.angular {
    width: 200px;
    height: 200px;
  top: 43px;
  left: 41px;
}

.angular + svg .outer {
    stroke: #dd1b16;
}

.php {
    width: 250px;
    height: 250px;
  top: 43px;
  left: 41px;
}

.php + svg .outer {
    stroke: #6082ba;
}

.drupal {
    width: 200px;
    height: 200px;
  top: 43px;
  left: 41px;
}

.drupal + svg .outer {
    stroke: #28a9e0;
}

.symfony {
    width: 200px;
    height: 200px;
  top: 43px;
  left: 41px;
}

.symfony + svg .outer {
    stroke: #353436;
}
.mysql {
    width: 200px;
    height: 200px;
    top: 43px;
    left: 41px;
}

.mysql + svg .outer {
    stroke: #007ba4;
}



/* Chart */

.chart svg {
    position: absolute;
    top: 0;
    left: 0;
}

.outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 20;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;

    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
    -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
}



/* END set initial animation values */


/* END Keyframes for the initial animation */

