/* ----------------------------------- GENERAL ----------------------------- */
@font-face {
    font-family: "Ma Super Fonte";
    src: url('../fonts/FORTE.TTF');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
/* ----------------------------------- HEADER ----------------------------- */
header{
    margin-bottom : -2px;
    content: "";
    width :100%;
    height: auto;
    background-image : url('../img/header/mountains-banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: 0px -250px;
    position : relative;
    z-index : 0;

}

.page-header {
    padding-bottom: 93px;
    margin: -1px;
    border-bottom: 1px solid #eee;
}

.photo
{
    width : 15%;
    margin: 0 42.5%;
    margin-top : 50px;
    position: relative;
    -webkit-box-shadow:
    0 0 0 10px   rgba(255,255,255,0),
    0 0 25px 2px rgba(0,0,0,0),
    inset 0 0 0 15px   rgba(255,255,155,0);
    -moz-box-shadow:
    0 0 0 10px   rgba(255,255,255,0),
    0 0 25px 2px rgba(0,0,0,0),
    inset 0 0 0 15px   rgba(255,255,155,0);
    box-shadow:
    0 0 0 10px   rgba(255,255,255,0.3),
    0 0 25px 2px rgba(0,0,0,0.3),
    inset 0 0 0 15px   rgba(255,255,155,0.3);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    /* border-radius: 50% has issues on some mobile browsers */

}

h1{
    text-align : center;
    color : white;
    font-size: 51px;
    margin : 0;
    padding : 0;
    font-family : 'Roboto', sans-serif;
}

.navbar{
    margin : 0;
    margin-top: -2px;
    z-index: 9999;
    background-color : #c0392b;
    border-radius : 0;

}

/* ----------------------------------- HOMEPAGE ----------------------------- */

html{
    background-image : url('../img/h')
}

/* ----------------------------------- INDEX ----------------------------- */

.btn-lg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.title{
    text-align : center;
    float : none;
    margin : 0 auto;
}

.icone{
    text-align: center;
    float: none;
    margin: 0 auto;
    width : 110px;
    height : 110px;
    font-size: 50px;
    line-height: 1;
    border-radius : 70px;
    margin-top: -137px;
}

p.title{
    font-size : 50px;
}
p.intro-title{
    font-size : 60px;
}
p.intro{
    font-size : 40px;
}
.mainbloc{
    margin :0;
    padding : 0;
}

.bloc{
    padding : 0px;
    padding-top : 50px;
    padding-bottom : 50px;
    color: #fff;

}
.android{
    float :left;
    width : 180px;
    height : 250px;
}
.presentation{
    background-color : #c33f3e;

}
.presentation .icone{
    background-color : white;
}

.glyphicon-user{
    color : #2b2d32;
}

.cursus{
    color : #34495e;
    background-color : #2980b9;
    padding-top : 50px;

}

.cursus .title {
    padding-bottom : 20px;
}

.cursus .icone{
    background-color : white;
    color : #74d336;
}

.personal_projects {
    background-color : #27ae60;
}
/* ----------------------------------- FOOTER ----------------------------- */

#footer{
    background-color: #c0392b;
    font-size : 25px;
    text-align : center;
    line-height: 2.50;
    color : white;
    margin: 0;
    padding : 0;
}



/* Import the Google Font 'Lato' */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Container styles */
body {
    background-color: #fff;
    color: #333;
    font-family: 'Lato';
}

.container {
    text-align: center;
}

@media screen and (max-width: 1280px) {

    p.title{
        font-size : 35px;
    }
    /* Header Photo*/
    .photo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width : 150px;
        margin-top : 50px;
        position: relative;
        -webkit-box-shadow:
        0 0 0 10px   rgba(255,255,255,0),
        0 0 25px 2px rgba(0,0,0,0),
        inset 0 0 0 15px   rgba(255,255,155,0);
        -moz-box-shadow:
        0 0 0 10px   rgba(255,255,255,0),
        0 0 25px 2px rgba(0,0,0,0),
        inset 0 0 0 15px   rgba(255,255,155,0);
        box-shadow:
        0 0 0 10px   rgba(255,255,255,0.3),
        0 0 25px 2px rgba(0,0,0,0.3),
        inset 0 0 0 15px   rgba(255,255,155,0.3);
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        /* border-radius: 50% has issues on some mobile browsers */
    }

}



