/* ----------------------------------- GENERAL ----------------------------- */
@font-face {
    font-family: "Ma Super Fonte";
    src: url('../fonts/FORTE.TTF');
    font-family: "Century_G";
    src : url(../fonts/century/GOTHIC.TTF)
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* ----------------------------------- HEADER ----------------------------- */
header{
    margin-bottom : -2px;
    content: "";
    width :100%;
    height: auto;
    background-image : url('../img/header/mountains-banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: 0px -250px;
    position : relative;
    z-index : 0;

}

.page-header {
    padding-bottom: 93px;
    margin: -1px;
    border-bottom: 1px solid #eee;
    display : inline-block;
}

.photo
{
    width : 15%;
    margin: 0 42.5%;
    margin-top : 50px;
    position: relative;
    -webkit-box-shadow:
    0 0 0 10px   rgba(255,255,255,0),
    0 0 25px 2px rgba(0,0,0,0),
    inset 0 0 0 15px   rgba(255,255,155,0);
    -moz-box-shadow:
    0 0 0 10px   rgba(255,255,255,0),
    0 0 25px 2px rgba(0,0,0,0),
    inset 0 0 0 15px   rgba(255,255,155,0);
    box-shadow:
    0 0 0 10px   rgba(255,255,255,0.3),
    0 0 25px 2px rgba(0,0,0,0.3),
    inset 0 0 0 15px   rgba(255,255,155,0.3);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    /* border-radius: 50% has issues on some mobile browsers */

}


.android{
    float :right;
    width : 10%;
    height : 10%;
    margin-right : 50px;
    margin-top : -130px;
}


.presentation .content{
    margin-top : -80px;
}

h1, p {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align : center;
    color : white;
    font-size: 51px;
    padding : 0;
    font-family : 'Century_G', sans-serif;
}

.navbar{
    margin : 0;
    margin-top: -2px;
    z-index: 9999;
    background-color : #c0392b;
    border-radius : 0;

}


/* ----------------------------------- INDEX ----------------------------- */

.btn-lg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.title{
    text-align : center;
    float : none;
    margin : 0 auto;
}

.icone{
    text-align: center;
    float: none;
    margin: 0 auto;
    width : 110px;
    height : 110px;
    font-size: 50px;
    line-height: 1;
    border-radius : 70px;
    margin-top: -137px;
}

p.title{
    font-size : 50px;
}
p.intro-title{
    font-size : 40px;
}
p.intro{
    font-size : 20px;
    margin-bottom : 40px;
}
.mainbloc{
    margin :0;
    padding : 0;
}

.bloc{
    padding : 0px;
    padding-top : 50px;
    padding-bottom : 50px;
    color: #fff;

}

.presentation{
    background-color : #c33f3e;

}
.presentation .icone{
    background-color : white;
}

.glyphicon-user{
    color : #2b2d32;
}

.cursus{
    color : #34495e;
    background-color : #2980b9;
    padding-top : 50px;
}

.cursus .title {
    padding-bottom : 10px;
    color : #fff;

}

.cursus .icone{
    background-color : white;
    color : #74d336;
}

/* ----------------------------------- FOOTER ----------------------------- */

#footer{
    background-color: #c0392b;
    font-size : 25px;
    text-align : center;
    line-height: 2.50;
    color : white;
    margin: 0;
    padding : 0;
}

#footer span{
    font-size : 15px;
}
#kenavo{
    padding-top : 20px;
    font-size: 40px;
    margin-bottom : 0px;
}

/* Import the Google Font 'Lato' */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Container styles */
body {
    background-color: #fff;
    color: #333;
    font-family: 'Lato';
}

.container {
    text-align: center;
}

@media screen and (max-width: 1280px) {

    h2{
        font-size : 20px;
    }

    h3{
        font-size : 12px;

    }
    p.title{
        font-size : 50px;
    }

    p.intro-title{
        font-size : 20px;

    }

    p.intro{
        font-size : 10px;
        margin-bottom : 40px;
    }


    /* Header Photo*/
    .photo{
        display: block;
        margin : 0 auto;
        width : 250px;
        margin-top : 50px;
        position: relative;
        -webkit-box-shadow:
        0 0 0 10px   rgba(255,255,255,0),
        0 0 25px 2px rgba(0,0,0,0),
        inset 0 0 0 15px   rgba(255,255,155,0);
        -moz-box-shadow:
        0 0 0 10px   rgba(255,255,255,0),
        0 0 25px 2px rgba(0,0,0,0),
        inset 0 0 0 15px   rgba(255,255,155,0);
        box-shadow:
        0 0 0 10px   rgba(255,255,255,0.3),
        0 0 25px 2px rgba(0,0,0,0.3),
        inset 0 0 0 15px   rgba(255,255,155,0.3);
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        /* border-radius: 50% has issues on some mobile browsers */
        margin-bottom : 30px;
    }

    .android{
        float :right;
        width : 20%;
        height : 20%;
        margin-right : 50px;
        margin-top : -130px;
    }


    .presentation .content{
        margin-top : -100px;
    }

    .impair {
        position: relative;
        display: inline-block;
        color: #999;
        font-size: 20px;
        text-align: center;
    }

    #kenavo{
        padding-top : 20px;
        font-size: 20px;
    }

    .footer span{
        font-size : 20px;
    }

    .footer{
        position: relative;
        margin-top: -150px; /* negative value of footer height */
        height: 150px;
        clear:both;
        padding-top:20px;
    }


}

