@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.work-experiences .impair {
	position: relative;
	display: inline-block;
	color: #999;
	font-size: 20px;
	text-align: center;
	margin-right : 110px !important;
}


.work-experiences .glyphicon{
	color : #34495e;
}
.grid {

	position : relative;
	display : block;
	margin: 0 auto;
	padding: 1em 200px 4em;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	display : inline-block;
	overflow: hidden;
	margin: 10px 0;
	width : 400px;
	height : 200px;
	background: #3085a3;
	background-color : white;
	text-align: center;
}

figcaption {
	display: inline-block;
	float : left;
}
.grid figure img {
	position: relative;
	display: block;
	opacity: 0.7;
	width : 100%;
	height : 100%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.grid figure figcaption {
	color: white;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 401px;
	height: 201px;

}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 100;
}

.grid figure h2 span {
	font-weight: 600;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
	background: rgba(55, 39, 163, 0);
	border: solid;
	border-radius: 15px;
	border-color : transparent;

}


figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
	background-image: url('../img/header/photo.png');

}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 7%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {

	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla h2{
	opacity :0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,30px,0);
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,figcaption{

}

figure.effect-layla:hover figcaption{
	background-image : linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.8) 100%);
	border: solid 1px;
	border-radius : 15px;
	border-color : transparent;
}


figure.effect-layla:hover{
	box-shadow: 5px 5px 10px black;
	border: solid 0px;
	border-radius: 15px;
	border-color : transparent;

}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);

}
figure.effect-layla:hover figcaption::after {
	color : white;
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* media queries */

@media screen and (max-width: 1280px){

	.grid {

		position : relative;
		display : block;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	/* Common style */
	.grid figure {
		position: relative;
		display : inline-block;
		overflow: hidden;
		margin: 10px 0;
		width : 300px;
		height : 200px;
		background: #3085a3;
		background-color : white;
		text-align: center;
	}

	.grid figure img {
		position: relative;
		display: block;
		opacity: 0.7;
		width: 100%;
		height : 80%;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}




	figcaption {
		display: inline-block;
		float : left;
	}

	.grid figure figcaption {
		color: white;
		text-transform: uppercase;
		font-size: 1.25em;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.grid figure figcaption::before,
	.grid figure figcaption::after {
		pointer-events: none;
	}


	.grid figure figcaption,
	.grid figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 301px;
		height: 201px;

	}

	/* Anchor will cover the whole item by default */
	/* For some effects it will show as a button */
	.grid figure figcaption > a {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}

	.grid figure h2 {
		word-spacing: -0.15em;
		font-size: 30px;
	}

	.grid figure h2 span {
		font-weight: 600;
	}

	.grid figure h2,
	.grid figure p {
		margin: 0;
	}

	.grid figure p {
		letter-spacing: 1px;
		font-size: 68.5%;
	}

	/* Individual effects */

	/*---------------*/
	/***** Layla *****/
	/*---------------*/
	figure.effect-layla {
		background: rgba(55, 39, 163, 0);
		border: solid;
		border-radius: 15px;
		border-color : transparent;
	}

	figure.effect-layla figcaption::before,
	figure.effect-layla figcaption::after {
		position: absolute;
		content: '';
		opacity: 0;
		background-image: url('../img/header/photo.png');

	}

	figure.effect-layla figcaption::before {
		top: 50px;
		right: 30px;
		bottom: 50px;
		left: 30px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: scale(0,1);
		transform: scale(0,1);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}

	figure.effect-layla figcaption::after {
		top: 30px;
		right: 50px;
		bottom: 30px;
		left: 50px;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		-webkit-transform: scale(1,0);
		transform: scale(1,0);
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
	}

	figure.effect-layla h2 {
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		margin-bottom : 10px;
	}

	figure.effect-layla p {
		padding: 0.5em 2em;
		text-transform: none;
		opacity: 0;
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0);
	}

	figure.effect-layla img,
	figure.effect-layla h2 {

		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	figure.effect-layla h2{
		opacity :0;
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0);
	}

	figure.effect-layla img,
	figure.effect-layla figcaption::before,
	figure.effect-layla figcaption::after,
	figure.effect-layla p {
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}

	figure.effect-layla:hover img {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,30px,0);
	}
	figure.effect-layla:hover figcaption{
		background-image : linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.8) 100%);
	}

	figure.effect-layla:hover{
		box-shadow: 5px 5px 10px black;

		border: solid 0px;
		border-radius: 15px;

		border-color : transparent;

	}

	figure.effect-layla:hover figcaption::before,
	figure.effect-layla:hover figcaption::after {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);

	}
	figure.effect-layla:hover figcaption::after {
		color : white;
	}

	figure.effect-layla:hover h2,
	figure.effect-layla:hover p {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

}


